@import url("https://fonts.googleapis.com/css2?family=Changa:wght@800&family=Lalezar&display=swap");
.hero {
    height: 100vh;
    background-image: url("dl.beatsnoop.com-high-0f388dfe536d182313.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    font-family: "neckar-bold" !important;
}
.nav-link {
    padding: 0.5rem !important;
    font-size: 18px !important;
}
/* .nav-item {
    padding: 0.6rem !important;
} */
.navbar-brand img {
    width: 95px;
    height: 95px;
}
.navbar-brand {
    font-family: "neckar-bold" !important;
    font-size: 38px !important;
    color: #da0037 !important;
}
.hero-main {
    transform: translate(-30px, -60px);
}
.hero-main h1 {
    font-family: "neckar-bold" !important;
    font-size: 72px !important;
    color: #c69749 !important;
}
.hero-main h3 {
    font-family: "neckar-bold" !important;
    font-size: 30px !important;
    color: #d5cea3 !important;
}
.hero-main h5 {
    font-family: "neckar-bold" !important;
    font-size: 44px !important;
    color: #e5e5cb !important;
}
.hero-main a {
    font-family: "neckar-bold" !important;
}
.phone_one {
    position: relative;
}

.phone_one::before {
    content: "1";
    width: 5px;
    font-size: 12px;
    font-weight: bold;
    top: 4px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
}

.phone_two {
    position: relative;
}

.phone_two::before {
    content: "2";
    width: 5px;
    font-size: 12px;
    font-weight: bold;
    top: 4px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
}
@media (max-width: 576px) {
    .hero {
        background-image: url("dl.beatsnoop.com-high-fb5458368f7e45e2fe.jpg") !important;
        background-position: right right;
        background-size: cover !important;
        background-repeat: no-repeat;
    }
}
